
body {
    font-family: Arial, sans-serif; /* Adjust font-family as needed */
    margin: 0;
    padding: 0;
}

@media (min-width: 320px) {
    .filter-container {
        display: grid;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        box-shadow: 1.25rem 1.25rem 1.25rem var(--box-shadow);
    }

    .filter-bar > .filter-option{
        flex-direction: row;
    }

    .filter-option {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filter-option > img{
        width: 30%;
        height: 30%;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
    }

    .filter-label{
        justify-content: center;
    }

    .filter-option input[type="checkbox"] {
        display: none; /* Hide the checkbox itself */
    }

    .filter-option .filter-label {
        padding: 0.625rem 1.25rem;
        border-radius: 1.25rem;
        display: block;
        text-align: center;
        transition: 0.3s;
        cursor: pointer;
        color: var(--color-primary);
    }


    /* .filter-option .filter-label:hover {
        color: pink;
    } */
}