/* MOBILE */

/* images */
img {
    width: 100%;
    height: auto;
}

/* class to add if you want to make "orddeling ved linjeskift" */
.hyphenate {
    overflow-wrap: break-word;
    hyphens: auto;
    width: 200px; 
}

.section_1 {
    margin-bottom: 35px;
}

/* search bar */
.search_container{
    display: flex;
    margin-top: 16px;
    width: 100%;
}

.search_box {
  background-color: var(--color-secondary);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
}

.search_box_icon {
    width: 25px; 
    height: 25px; 
    align-self: center;
}

input[type="text"] {
  width: 90%;
  border: none;
  box-shadow: 0px 3px 15px rgba(var(--color-black-r), var(--color-black-g), var(--color-black-b), 0.2);
  height: 40px;
  align-self: center;
  padding-inline: 12px;
}

/* hide splash image mobile */
.splash_img{
    display: none;
    object-fit: cover;
}

/* UI card component */
.card_container {
    display: grid;
    margin: 0 auto;
    align-items: center;
    width: 250px;
}

.card_img {
    width: 250px;
    object-fit: cover;
}

/* card details */
.card_details {
    box-shadow: 0px 3px 15px rgba(var(--color-black-r), var(--color-black-g), var(--color-black-b), 0.2);
    width: 90%;
    padding: 12px;
    margin: 0 auto;
}

/* this removes all styling from the default button */
.btn_fav{
    background: none;
    border: none;
    padding: none;
    margin: none;
    cursor: pointer;
}

.card_name_and_icon{
    display: grid;
    justify-content: space-between;
}

/* this ensures the text get hidden after X number of charators. 
webkit is to make it work with the browser  */
.card_description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  height: calc(1.2em * 3);
}

.card_title{
    padding-block: 16px;
}

/* arrow down */
.arrow_down{
    width: 25px;
    height: 25px;
    align-self: center;
}

.arrow_container {
    display: flex;
    justify-content: center;
    margin: 36px 0px 50px 0px;
}


/* SMALL TABLET */
@media (min-width: 600px){
/* section 1 */
.splash_img{
    display: block;
    width: 90%;
    margin: 2rem auto;
}
.section_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 16px;
    margin-bottom: 105px;
    }

    /* UI card */
.card_container {
    display: flex;
    justify-content: center;
}
.card_details {
    width: 100%;
    padding: 12px;
    align-self: center;
}

}

/* TABLET */
@media (min-width: 768px){
.section_1 {
        align-items: center;
        gap: 26px;
        margin-bottom: 105px;
        grid-template-columns: 1fr 1fr;
    }
    .splash_img{
    display: block;
    width: 100%;
    margin: 2rem auto;
}

}



/* DESKTOP */
@media (min-width: 1024px){
    body{
        margin-inline: var(--margin-desktop);
    }
}