@import url('styles/variables.css');

/* images */
img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

/* class to add if you want to make "orddeling ved linjeskift" */
.hyphenate {
    overflow-wrap: break-word;
    hyphens: auto;
    width: 200px; 
}



/* search bar */
.search_container{
    display: flex;
    margin-top: 16px;
    width: 100%;
}

.search_box {
  background-color: var(--color-secondary);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
}

.search_box_icon {
    width: 25px; 
    height: 25px; 
    align-self: center;
}

input[type="text"] {
  width: 90%;
  border: none;
  box-shadow: 0px 3px 15px rgba(var(--color-black-r), var(--color-black-g), var(--color-black-b), 0.2);
  height: 40px;
  align-self: center;
  padding-inline: 12px;
}

/* hide splash image mobile */
.splash_img{
    display: none;
    object-fit: cover;
}

/*************** UI card component general styling *********/

.card_container {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.card_img {
    width: 100%;
    object-fit: cover;
}

/* card details */
.card_details_container {
    box-shadow: 0px 0px 15px rgba(var(--color-black-r), var(--color-black-g), var(--color-black-b), 0.2);
    width: 100%;
    padding: 12px;
    margin: 0 auto;
    min-height: 230px;
    display: grid;
    grid-template-rows: 1fr auto;
}

.flex {
    grid-row-start: 2;
}

.flex p {
    margin-bottom: 4px;
}

/* this removes all styling from the default button */
.btn_fav{
    background: none;
    border: none;
    padding: none;
    margin: none;
    cursor: pointer;
}

.fav_category_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.category_fav_flex{
    display: flex;
    gap: 8px;

}

.card_category_icon{
    width: 25px;
    height: 25px;
    background-color: var(--color-lightGreen);
    border-radius: 50%;
    display: flex;
    justify-content: center;
}



/* this ensures the text get hidden after X number of charators. 
webkit is to make it work with the browser  */
.card_description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: calc(1.2em * 3);
}

.card_title{
    padding-block: 16px;
}




/* SMALL TABLET */
@media (min-width: 600px){

.section_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 16px;
    }

.section_1_card {
    margin-bottom: 105px;
}


/*  UI CARD */
.card_details_container {
    min-height: 230px;
    min-width: 230px;
}


.card_container {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-right: 2rem;
}

.card_img {
    object-fit: cover;
    height: 230px;
    aspect-ratio: 1 / 1;
    object-position: center; 
    width: 100%;
}

}

/* TABLET */
@media (min-width: 768px){
    .section_1 {
        align-items: center;
        gap: 26px;
        grid-template-columns: 1fr 1fr;
    }
    .splash_img{
    display: block;
    width: 100%;
    margin: 2rem auto;
    }

    .section_1_card{
        margin-bottom: 105px;
    }

    /* auto layout UI CARD  */


    .card_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    }

    #meal_container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 2rem;
    }

}



/* DESKTOP */
@media (min-width: 1024px){
    body{
        margin-inline: var(--margin-desktop);
    }
}