/* MOBILE */

/* images */
img {
    max-width: 100%;
    height: auto;
}

/* class to add if you want to make "orddeling ved linjeskift" */
.hyphenate {
    overflow-wrap: break-word;
    hyphens: auto;
    width: 200px; 
}

/* search bar */
.search_container{
    display: flex;
    margin-block: 26px;
}

.search_box {
  background-color: var(--color-secondary);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
}

.search_box_icon {
    width: 25px; 
    height: 25px; 
    align-self: center;
}

input[type="text"] {
  max-width: 100%;
  border: none;
  box-shadow: 0px 3px 15px rgba(var(--color-black-r), var(--color-black-g), var(--color-black-b), 0.2);
  width: 200px;
  height: 40px;
  align-self: center;
  padding-inline: 12px;
}

/* UI card component */
.card_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card_img{
    width: 250px;
    height: 200px;
    object-fit: cover;
    align-self: center;
}

/* card details */
.card_details{
    box-shadow: 0px 3px 15px rgba(var(--color-black-r), var(--color-black-g), var(--color-black-b), 0.2);
    width: 230px;
    align-self: center;
    padding: 16px;
}

/* this removes all styling from the default button */
.btn_fav{
    background: none;
    border: none;
    padding: none;
    margin: none;
    cursor: pointer;
}

.card_name_and_icon{
    display: grid;
    justify-content: space-between;
}

/* this ensures the text get hidden after X number of charators. 
webkit is to make it work with the browser  */
.card_description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  height: calc(1.2em * 3);
}

.card_title{
    padding-block: 16px;
}

/* arrow down */
.arrow_down{
    width: 25px;
    height: 25px;
    align-self: center;
}

.arrow_container {
    display: flex;
    justify-content: center;
    margin: 36px 0px 50px 0px;
}

/* hide & show items */
.hidden{
    display: none;
    margin: 0px;
}

.show{
    display: block;
}

/* Carousel */

.carousel_container {
    max-width: 100%; /* Limit the width */
    overflow: hidden; /* Hide the overflow */
    position: relative; /* For positioning the arrows */
}

.carousel {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease;
}

.carousel_item{
    margin-bottom: 12px;
    min-width: 100%;
}

.categories{
    background-color: var(--color-lightGreen);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.category_container{
    display: flex;
    gap: 6px;
    padding-block: 12px;
    align-items: center;
}

/* add to favorites */
.add_container{
    display: flex;
    gap: 6px;
    padding-block: 12px;
    align-items: center;
}

.heart{
    width: 25px;
    height: 25px;
}

/* carousel arrow */
.carousel_arrow_container {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10; /* Ensure it's above other elements */
    width: 25px; /* Set a specific width */
    height: 25px; /* Set a specific height */
}



.carousel_arrow_container.left {
    left: 10px;
    z-index: 5;
}

.carousel_arrow_container.right {
    right: 10px;
    z-index: 5;
}

/* TABLET */


/* DESKTOP */
@media (min-width: 1024px){
    body{
        margin-inline: var(--margin-desktop);
    }
}