*login section*/
#login_section {
    text-align: center;
    margin: 0.5rem;
}
 
#signup_section {
    text-align: center;
    margin: 0.5rem;
}
 
/*changing the size and weigth of the undertitle with css, rather than with html*/
.under_title {
    font-weight: 400;
    font-size: var(--size-h3);
}
 
/*general form styling*/
form {
    position: relative;
    background: var(--color-bg);
    box-shadow: 1px 4px 8px 1px var(--color-shadow);
    border-width: 0px;
    margin: 1rem auto;
    padding: 2rem 2rem 2rem 1.5rem;
    max-width: 30rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: stretch;
}
 
form input {
    width: 100%;
    font-family: var(--font-body);
    min-height: 2.5rem;
    border-radius: 0rem;
    border: 0.05rem solid var(--color-shadow);
    margin: 0;
    outline: none;
    padding-inline: 0.5rem;
 
 
}
 
 
input::placeholder {
    color: var(--color-shadow);
}
 
label {
    font-size: 1.15rem;
    font-family: var(--font-body);
}
 
input[type=submit] {
    width: 100%;
    font-family: var(--font-h3);
    font-weight: 600;
    font-size: 1.15rem;
    background-color: var(--color-secondary);
    border: 0.08rem solid var(--color-primary);
    border-radius: 0rem;
    color: var(--color-primary);
}
 
 
input[type=submit]:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}
 
/* error message and icon styling*/
form>div>div {
 
    display: flex;
 
}
 
 
.error_icon {
    position: absolute;
    right: 0.4rem;
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
 
.error_message {
    color: var(--color-red)
}
 
 
.input_error {
    border: 0.1rem solid var(--color-red);
}
 
.input_correct {
    border: 0.2rem solid var(--color-lightGreen);
}
 
 
/*changes for the general error message and icon*/
#error_message_general {
    position: relative;
    border: 1px solid var(--color-red);
    padding: 0.5rem;
}
 
#error_message_general>.error_icon {
    margin: 0;
}
 
 
 
/*link for signup/login page*/
.text_link {
    margin-top: 2rem;
    font-size: 1.2rem;
}
 
.text_link a {
    color: var(--color-primary);
    font-weight: 600;
}
 
 
 
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-popup-background);
}
 
 
.popup_wrapper {
    min-height: 13rem;
    top: 20%;
    margin: 0 auto;
    position: relative;
    max-width: 22rem;
}
.confirmation_content {
    margin: 0 1rem;
    background-color: var(--color-bg);
    padding: 2rem 1rem;
    border-radius: 5px;
    text-align: center;
 
}
 
.confirmation_content h3 {
    margin-bottom: 2rem;
}
 
.confirmation_content a {
    color: var(--color-primary);
    font-weight: 600;
}
 
 
 
 
/*mobile*/
@media (max-width: 320px) {}
 
/*smaller tablet*/
@media (min-width: 600px) {
    form {
        padding: 2rem 2.5rem;
    }
 
 
}
 
/*small tablet*/
@media (min-width: 768px) {
    form {
        padding: 2rem 2.5rem;
    }
 
    .error_icon {
        right: 0.6rem;
        width: 1.5rem;
        height: 1.5rem;
 
    }
    .popup_wrapper {
        max-width: 28rem;
    }
 
   
    .confirmation_content {
        padding: 3rem 1rem;
    }
 
}
 
/*laptop*/
@media (min-width: 1024px) {
    form {
        padding: 2rem 2.5rem;
    }
 
 
    .popup_wrapper {
        max-width: 32rem;
    }
 
    .confirmation_content {
        padding: 5rem 2rem;
    }
 
 
}
 
.hidden {
    display: none;
}
