
#recipe {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-wh);
    border-radius: 10px;
    box-shadow: 0 0 10px 0px var(--color-shadow);
    margin-bottom: 2rem;
}
 
.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--color-primary);
}

.img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.category, .cuisine {
    margin: 20px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.description {
    margin: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--color-light);
    border-radius: 10px;
    box-shadow: var(--color-shadow);
}

.steps {
    list-style: none;
    counter-reset: step;
    padding-left: 0px;
}

.steps li {
    margin-bottom: 20px;
    padding-left: 0px;
    text-align: justify;
    font-style: var(--font-body);
    font-weight: var(--size-body);
    color: var(--colorprimary);
}

.steps li::before {
    content: counter(step) ".";
    counter-increment: step;
    display: inline-block;
    width: 1.5em; 
    text-align: right;
    margin-right: 0.5em; 
    font-weight: var(--size-body);
    vertical-align: top;
}


        
 /*ALL RECIPES UI CARDS */
 #all_recipes_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 2rem;
    }

.filter_container {
    margin-bottom: 2rem;
    border-radius: 0%;
}

/*  BUTTONS */
.button{
    background: none;
    border: none;
    padding: none;
    margin: none;
    cursor: pointer;
}

.more_btn {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    margin-top: 2rem;
}

.more_btn:hover {
    background-color: var(--color-primary); 
    color: var(--color-secondary);
}

#filter_btn{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none; 
    padding: 10px 20px; 
    text-align: center;
    font-size: 16px;
    cursor: pointer; 
}

@media (min-width: 768px){
    /* filter container */
.filter_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    align-content: center;
}
h1{
    text-align: center;
}
}
