@media (min-width: 768px) {
    .mad {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        align-items: start;
        margin: 0 10%; /* Center the content with some padding */
        background-color: var(--color-secondary);
        margin-bottom: 20px;
    }
     
    .mad .Tid {
        margin: 10px;
        grid-column: span 1;
        text-align: center;
        margin-bottom: 20px;
    }
     
    .ingredienser ul, .metode p {
        margin: 30px 0;
        padding: 0;
        list-style: none;
        line-height: 2rem;
        font-size: var(--size-body);
        font-family: var(--font-body);
        text-align: center;
    }
     
    section.ingredienser, section.metode {
        padding: 10px;
        justify-content: center;
    }
     
    h3 {
        text-align: center;
        margin: 5rem 0;
        margin-bottom: 1rem;
        font-size: var(--size-h3);
        font-family: var(--font-h3);
    }
     
    .description img {
        margin: 2rem;
        width: 40%;
        margin-left: 10px;
    }
    }
    /*Tablet and up*/
    @media (min-width: 768px) {
    .description {
        margin: 20px;
        display: flex;
        align-items: center;
    }
     
    .description p {
        line-height: 2rem;
        margin-bottom: 15rem;
     
    }
     
    .description img {
        margin: 2rem;
        width: 40%;
        margin-left: 10px;
    }
     
     
    h3 {
        text-align: center;
        margin: 5rem 0;
        margin-bottom: 1rem;
        font-size: var(--size-h3);
        font-family: var(--font-h3);
    }
     
    .mad {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: start;
        max-width: 1000px;
        margin-left: 15%;
        background-color: var(--color-secondary);
        margin-bottom: 20px;
    }
     
    .Tid {
        margin:10px;
        grid-column: span 2;
        text-align: center;
        margin-bottom: 20px;
    }
     
    .ingredienser ul, .metode p {
        margin: 30px;
        padding: 0;
        list-style: none;
        line-height: 3rem;
        font-size: var(--size-body);
        font-family: var(--font-body);
    }
     
    section.ingredienser, section.metode {
        padding: 10px;
        justify-content: center;
    }
    }