@import '_variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* default boxshadow */
/* box-shadow: 0px 3px 15px rgba(var(--color-black-r), var(--color-black-g), var(--color-black-b), 0.2); */

/* FONTS */
h1{
    font-family: var(--font-h1);
    font-size: var(--size-h1);
    margin-bottom: 33px;
}

/* this ensures only the first H1 on the page gets margin top */
body h1:first-of-type {
    margin-top: 33px;
}

h2{
    font-family: var(--font-h2);
    font-size: var(--size-h2);
}

h3{
    font-family: var(--font-h3);
    font-size: var(--size-h3);
}

p{
    font-family: var(--font-body);
    font-size: var(--size-body);
    color: var(--color-primary);
}

/* MOBILE */

body{
    margin-inline: var(--margin-mobile);
}

/* TABLET */


/* DESKTOP */
@media (min-width: 1024px){
    body{
        margin-inline: var(--margin-desktop);
    }
}