
:root{
    /* FONTS */
--font-h1: "Yeseva One";
--font-h2: "Dosis", sans-serif;
--font-h3: "Dosis", sans-serif;
--font-body: "PT Sans", sans-serif;

    /* Font sizes */
--size-h1: 2.10rem;
--size-h2: 2rem; 
--size-h3: 1.6rem;  
--size-body: 1rem;


    /* COLORS */
--color-bg: #FAFAFB;
--color-primary: #5A6242;
--color-secondary: #FAD1D6;
--color-lightGreen: #DCE8B8;
--color-red: #DF3316;
--color-white: #FFFFFF;
--color-black: #000000;
--color-shadow: #a7a7a7;
--color-box-shadow: rgba(0, 0, 0, 0.029); 
--color-active-filter: #DCE8B8;
--color-hover-filter: #ffffff85;


    /* BOX SHADOW */
--color-black-r: 0;
--color-black-g: 0;
--color-black-b: 0;

    /* SPACING */
--margin-desktop: 9.4rem;
--margin-mobile: 2.1rem;
}
